@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/suisse/SuisseIntl-Bold.woff2") format("woff2"),
    url("/fonts/suisse/SuisseIntl-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/suisse/SuisseIntl-Medium.woff2") format("woff2"),
    url("/fonts/suisse/SuisseIntl-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
